.title{
width:100%;
	text-align:center;
	font-family:sans-serif;
	font-size:12pt;
	font-weight:12pt;
	color:white;
	top:0px;
	background-color:pink;
}

.subtitle{
width:100%;
	text-align:center;
	font-family:sans-serif;
	font-size:10pt;
	font-weight:8pt;
	color:white;
	background-color:brown;
}

.tagline{
width:100%;
	text-align:center;
	font-family:sans-serif;
	font-size:8pt;
	font-weight:0 pt;
	color:white;
	background-color:red;
}

.menu:hover{
	width:60%;
	height:70px;
	background-color:purple;
	padding:50px;
	transition: width=2s, height=4s, transform=6s;
}

.body22{
	width:500px;
	height:250px;
	background-color:yellow; 

	animation-name:rotatethis;
	animation-duration:5s;
	animation-iteration-count:infinite;
}

@keyframes rotatethis{
	0%{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(45deg);
		color:red;
		background-color:yellow;
	}
	100%{
		transform:rotate(-45deg);
		color:yellow;
		background-color:red;
	}
}
	
.social{
width:100%;
	text-align:center;
	font-family:sans-serif;
	font-size:10pt;
	font-weight:8pt;
	color:red;
	
}